@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary font-sans;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: moveGradient 4s ease infinite;
  background-size: 400% 400%;
}
